<p id="notice"><%= notice %></p>

<div>
<td>First Name: <%= @user.first_name %></td>
<td>Last Name: <%= @user.first_name %></td>
<td>Email: <%= @user.email %></td>

</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
